<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawl</title>
</head>
<body>
    <ul>
        <% data.forEach((item)=>{%>
            <p><%=item['dc:title']%></p>
            <p><%=item['dc:creator']%></p>
            <li><%=item['description']%></li>
        <%}) %>
    </ul>
</body>
</html>